.row{
    display: grid;
    padding: 8px;
    grid-gap: 5px;
}
.col-1{
    grid-template-columns: repeat(1,12fr);
}
.col-2{
    grid-template-columns: repeat(2,6fr);
}
.col-3{
    grid-template-columns: repeat(3,4fr);
}
.col-4{
    grid-template-columns: repeat(4,3fr);
}
.col-6{
    grid-template-columns: repeat(6,2fr);
}
.col-12{
    grid-template-columns: repeat(12,1fr);
}

/* md */
@media screen and (max-width: 1200px ) {
    .col-4{
        grid-template-columns: repeat(3,4fr);
    }
    .col-6{
        grid-template-columns: repeat(3,4fr);
    }
    .col-12{
        grid-template-columns: repeat(6,2fr);
    }
}
/* sm */
@media screen and (max-width: 992px) {
    .col-3, .col-4, .col-6{
        grid-template-columns: repeat(2,6fr);
    }
    .col-12{
        grid-template-columns: repeat(3,4fr);
    }
}
/* xs */
@media screen and (max-width: 768px) {
    .col-2, .col-3, .col-4, .col-6, .col-12 {
        grid-template-columns: repeat(1,12fr);
    }

}
